body { background-color: lightgrey; border: 3px solid black; position: relative; }
h1 { font-family: 'pacifico' , cursive; color: black; text-align: center; text-decoration: underline;}
p { font-size: 'Roboto' , sans-serif; text-align: center;  font-size: 20px;}
img { border-radius: 50% ; display: block; margin-left: auto; margin-right: auto; }
a { color: blue; text-align: center;}
div { text-align: center; background-color: darkgray; font-weight: bold; font-size: 25;}
h3 { color: black; text-align: center; font-size: 25px; }
h4 { color: black; text-align: center; font-size: 25px; }

